h1{
    color: green;
    font-size: 38px;
    place-items: center; 
    display: flex;
    justify-content: center;
    

}
img{
    width: 120px;
    height: 120px;
}

.container{
    display: flex;
    margin:  90px;
    justify-content: center;
   
    
}
.alinear{
    width: 160px;
    height: 160px;
    margin-bottom: 10px;
}
body{
background-color:#8EB681 ;
}




